<div className="content">
//<!-- BEGIN LOGIN FORM -->
<form className="login-form" action="index.html" method="post">
<h3 className="form-title">Giriş</h3>
<div className="alert alert-danger display-hide">
<button className="close" data-close="alert"></button>
<span>
Mail ve Şifresini Girmelisiniz</span>
</div>
<div className="form-group">
//<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
<label className="control-label visible-ie8 visible-ie9">Email</label>
<div className="input-icon">
  <i className="fa fa-envelope"></i>
  <input className="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/>
</div>
</div>
<div className="form-group">
<label className="control-label visible-ie8 visible-ie9">Şifre</label>
<div className="input-icon">
  <i className="fa fa-lock"></i>
  <input className="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="password"/>
</div>
</div>
<div className="form-actions">
<button type="submit" className="btn blue pull-right">
GİRİŞ YAP <i className="m-icon-swapright m-icon-white"></i>
</button>
</div>
<div className="clearfix"></div>
<div className="login-options">
<h4>Sosyal Medya İle Giriş Yap</h4>
<ul className="social-icons">
  <li>
    <a className="facebook" data-original-title="facebook" href="javascript:;">
    </a>
  </li>
  <li>
    <a className="twitter" data-original-title="Twitter" href="javascript:;">
    </a>
  </li>
  <li>
    <a className="googleplus" data-original-title="Goole Plus" href="javascript:;">
    </a>
  </li>
  <li>
    <a className="linkedin" data-original-title="Linkedin" href="javascript:;">
    </a>
  </li>
</ul>
</div>
<div className="forget-password">
<h4>Şifremi Unuttum ?</h4>
<p>
   Yeni Şifre Almak İçin <a href="javascript:;" id="forget-password">
  Buraya </a>
  Tıklayın.
</p>
</div>
<div className="create-account">
<p>
   Hesabın yok mu ?&nbsp; <a href="javascript:;" id="register-btn">
  Yeni Hesap Oluştur </a>
</p>
</div>
</form>
//<!-- END LOGIN FORM -->
//<!-- BEGIN FORGOT PASSWORD FORM -->
<form className="forget-form" action="index.html" method="post">
<h3>Şifremi Unuttum ?</h3>
<p>
 Mail Adresinizi Giriniz
</p>
<div className="form-group">
<div className="input-icon">
  <i className="fa fa-envelope"></i>
  <input className="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
</div>
</div>
<div className="form-actions">
<button type="button" id="back-btn" className="btn">
<i className="m-icon-swapleft"></i> GERİ </button>
<button type="submit" className="btn blue pull-right">
GÖNDER <i className="m-icon-swapright m-icon-white"></i>
</button>
</div>
</form>
//<!-- END FORGOT PASSWORD FORM -->
//<!-- BEGIN REGISTRATION FORM -->
<form className="register-form" action="index.html" method="post">
<h3>Kayıt Ol</h3>
<div className="form-group">
<label className="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
<div className="input-icon">
  <i className="fa fa-user"></i>
  <input className="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Kullanıcı Adı" name="username"/>
</div>
</div>
<div className="form-group">
//<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
<label className="control-label visible-ie8 visible-ie9">Email</label>
<div className="input-icon">
  <i className="fa fa-envelope"></i>
  <input className="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/>
</div>
</div>
<div className="form-group">
<label className="control-label visible-ie8 visible-ie9">Şifre</label>
<div className="input-icon">
  <i className="fa fa-lock"></i>
  <input className="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="password"/>
</div>
</div>
<div className="form-group form-md-radios">
<label>Cinsiyet</label>
<div className="md-radio-inline has-success">
  <div className="md-radio">
    <input type="radio" id="radio14" name="gender" className="md-radiobtn" checked>
    <label for="radio14">
      <span></span>
      <span className="check"></span>
      <span className="box"></span>
      Erkek </label>
  </div>
  <div className="md-radio has-error">
    <input type="radio" id="radio15" name="gender" className="md-radiobtn">
    <label for="radio15">
      <span></span>
      <span className="check"></span>
      <span className="box"></span>
      Kadın </label>
  </div>
</div>
</div>
<div className="form-actions">
<button id="register-back-btn" type="button" className="btn">
<i className="m-icon-swapleft"></i> GERİ </button>
<button type="submit" id="register-submit-btn" className="btn blue pull-right">
KAYIT <i className="m-icon-swapright m-icon-white"></i>
</button>
</div>
</form>
//<!-- END REGISTRATION FORM -->
</div>
