@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
@font-face {
  font-family: "chatapp";
  src: url("./fonts/chatapp.eot");
  src: url("./fonts/chatapp.eot?#iefix") format("embedded-opentype"), url("./fonts/chatapp.woff") format("woff"), url("./fonts/chatapp.ttf") format("truetype"), url("./fonts/chatapp.svg#chatapp") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "chatapp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chatapp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.hidden { display:none; }
.sendEmoji{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: 0 none;
  padding: 2px 10px;
  line-height: 50px;
  font-size: 28px;
}
.emoji-picker{
  margin-left: 8px;
  position: fixed;
  bottom: 50px;
}
.icon-edit-modify-streamline:before {
  content: "\61"; }

.icon-settings-streamline-1:before {
  content: "\63"; }

.icon-paperplane:before {
  content: "\62"; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;}

body {
  color: #2c3e50;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;}

.app-messenger {
  display: flex;
  flex-direction: column; }
  .app-messenger .header {
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .app-messenger .header .left {
      width: 300px;
      position: relative; }
      .app-messenger .header .left .left-action {
        position: absolute;
        left: 8px;
        top: 0; }
      .app-messenger .header .left .right-action {
        position: absolute;
        right: 8px;
        top: 0; }
      .app-messenger .header .left h2 {
        line-height: 50px;
        font-size: 14px;
        font-weight: 600;
        display: block;
        text-align: center; }
      .app-messenger .header .left button {
        background: none;
        line-height: 50px;
        border: 0 none;
        font-size: 20px;
        cursor: pointer; }
    .app-messenger .header .content {
      flex-grow: 1; }
      .app-messenger .header .content h2 {
        line-height: 50px;
        text-align: center; }
    .app-messenger .header .right {
      width: 300px; }
      .app-messenger .header .right .user-bar {
        line-height: 50px;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px; }
        .app-messenger .header .right .user-bar .profile-name {
          padding-right: 10px; }
        .app-messenger .header .right .user-bar .profile-image {
          line-height: 50px; }
          .app-messenger .header .right .user-bar .profile-image img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 10px 0 0 0; }
  .app-messenger .main {
    height: 100%;
    display: flex;
    overflow: hidden; }
    .app-messenger .main .sidebar-left {
      width: 300px;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    overflow-x: hidden;}

    .app-messenger .main .sidebar-right {
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      width: 300px; }
      .app-messenger .main .sidebar-right .title {
        padding: 10px; }
    .app-messenger .main .content {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      .app-messenger .main .content .messages {
        flex-grow: 1; }
      .app-messenger .main .content .messenger-input {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        height: 50px;
        display: flex;
        flex-direction: row; }
        .app-messenger .main .content .messenger-input .text-input {
          flex-grow: 1; }
          .app-messenger .main .content .messenger-input .text-input textarea {
            border: 0 none;
            width: 100%;
            height: 100%;
            padding: 8px 15px; }
        .app-messenger .main .content .messenger-input .actions button.send {
          background: #2ecc71;
          color: #FFF;
          border: 0 none;
          padding: 2px 17px;
          line-height: 50px;
          font-size: 20px;
        }

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%; }
  .messages .message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px; }
    .messages .message .message-user-image img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .messages .message .message-body {
      padding-left: 10px; }
      .messages .message .message-body .message-text {
        background: rgba(0, 0, 0, 0.05);
        padding: 10px;
        border-radius: 10px; }
    .messages .message.me {
      justify-content: flex-end; }
      .messages .message.me .message-body .message-text {
        background: #2ecc71;
        color: #FFF; }

.chanels {
  overflow-y: auto;
  height: 100%; }
  .chanels .chanel {
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px; }
    .chanels .chanel .user-image {
      width: 30px; }
      .chanels .chanel .user-image img {
        max-width: 100%; }
      .chanels .chanel .user-image .channel-avatars {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ccc;
        position: relative; }
        .chanels .chanel .user-image .channel-avatars.channel-avatars-1 img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
        .chanels .chanel .user-image .channel-avatars.channel-avatars-2 img {
          width: 50%;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-2 img:first-child {
            left: 0;
            top: 0; }
        .chanels .chanel .user-image .channel-avatars.channel-avatars-3 img {
          position: absolute;
          width: 50%;
          height: 50%;
          right: 0;
          top: 0; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-3 img:first-child {
            left: 0;
            top: 0;
            width: 50%;
            height: 100%; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-3 img:last-child {
            bottom: 0;
            right: 0;
            top: 15px;
            width: 50%;
            height: 50%; }
        .chanels .chanel .user-image .channel-avatars.channel-avatars-4 img {
          position: absolute;
          width: 50%;
          height: 50%;
          right: 0;
          top: 0; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-4 img:first-child {
            left: 0;
            top: 0;
            width: 50%;
            height: 100%; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-4 img:nth-child(3n) {
            bottom: 0;
            right: 0;
            top: 15px;
            width: 50%;
            height: 50%; }
          .chanels .chanel .user-image .channel-avatars.channel-avatars-4 img:last-child {
            left: 0;
            bottom: 0;
            top: 15px; }
    .chanels .chanel .chanel-info {
      flex-grow: 1;
      padding-left: 8px;
      padding-right: 8px;
      overflow: hidden; }
      .chanels .chanel .chanel-info h2 {
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .chanels .chanel .chanel-info p {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .chanels .chanel.active {
      background: rgba(0, 0, 0, 0.05); }
    .chanels .chanel.notify .chanel-info p {
      color: #2ecc71; }

.members .member {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px; }
  .members .member .user-image {
    width: 30px;
    position: relative; }
    .members .member .user-image img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
    .members .member .user-image .user-status {
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 10px;
      border: 1px solid #FFFFFF;
      background: #cccccc;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .members .member .user-image .user-status.online {
        background: #2ecc71; }
  .members .member .member-info {
    padding-left: 8px;
    flex-grow: 1; }
    .members .member .member-info h2 {
      font-size: 14px; }
    .members .member .member-info p {
      font-size: 12px; }

h2.title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8); }

.toolbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  position: relative; }
  .toolbar span {
    line-height: 20px;
    height: 30px;
    background: #2ecc71;
    color: #FFF;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    margin: 10px 5px 0 0;
    padding: 5px 8px; }
  .toolbar label {
    line-height: 50px; }
  .toolbar input {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border: 0 none; }
  .toolbar .search-user {
    min-width: 180px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none; }
    .toolbar .search-user .user-list {
      display: flex;
      flex-direction: column;
    background-color: rgba(255,255,255,0.4)}
      .toolbar .search-user .user-list .user {
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer; }
        .toolbar .search-user .user-list .user img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-top: 10px; }
        .toolbar .search-user .user-list .user h2 {
          padding-left: 8px;
          flex-grow: 1;
          font-size: 14px; }
        .toolbar .search-user .user-list .user:last-child {
          border-bottom: 0 none; }
        .toolbar .search-user .user-list .user:hover {
          background: rgba(0, 0, 0, 0.02); }

.user-bar {
  position: relative; }
  .user-bar button.login-btn {
    height: 50px;
    border: 0 none;
    background: none;
    color: #2ecc71;
    font-weight: 600;
    font-size: 14px; }
  .user-bar .user-form {
    background: #FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 50px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none;
    padding: 10px;
    z-index: 999;}
    .user-bar .user-form .form-item label {
      line-height: 30px;
      min-width: 75px;
      text-align: right;
      margin-right: 8px; }
    .user-bar .user-form .form-item input[type="email"], .user-bar .user-form .form-item input[type="password"], .user-bar .user-form .form-item input[type="text"] {
      height: 30px;
      line-height: 30px; }
    .user-bar .user-form .form-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
  .user-bar .user-menu {
    background: #FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.09);
    min-width: 200px;
    position: absolute;
    right: 10px;
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none;
    z-index: 999;
   }
    .user-bar .user-menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .user-bar .user-menu ul li {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 8px; }
        .user-bar .user-menu ul li button {
          background: none;
          border: 0 none;
          display: block;
          cursor: pointer;
          text-align: center;
          width: 100%; }
        .user-bar .user-menu ul li:hover {
          background: rgba(0, 0, 0, 0.09); }
    .user-bar .user-menu h2 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      display: block;
      text-align: center; }

.form-item {
  display: flex;
  margin-bottom: 10px; }
  .form-item label {
    font-weight: 600; }
  .form-item input[type="email"], .form-item input[type="password"], .form-item input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 8px; }

.form-actions button {
  border: 0 none;
  padding: 7px 15px;
  text-align: center; }
  .form-actions button.primary {
    background: #2ecc71;
    color: #FFF; }

.app-message {
  line-height: 1.5em;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #2ecc71;
  border-radius: 5px;
  margin: 0 0 10px 0; }
  .app-message.error {
    background: #e74c3c;
    color: #FFF;
    border-color: #e74c3c; }

.user-status {
  font-size: 10px;
  color: #2c3e50; }
  .user-status.online {
    color: #2ecc71; }

.app-warning-state {
  font-size: 10px;
  padding: 0 10px;
  color: #e74c3c; }

/*# sourceMappingURL=app.css.map */
